.img {
    position: relative;
    display: inline-block;
}

.text {
    font-size: 24px;
    font-weight: 600;
    color: #FFFBF2;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 41px;
}