.section {
    text-align: center;
    width: 114rem;
    margin: 0 auto;
    margin-top: 18rem;
}

.heading {
    font-size: 54px;
    font-weight: 600;
    line-height: 77px;
    color: var(--color-white);

}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 9.7rem;
    flex-wrap: wrap;
    row-gap: 10rem;

}