:root {
  --color-primary: #E3B748;
  --color-white: #ffffff;
  --color-black: rgb(0, 0, 0)
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {

  background-color: rgb(30, 30, 30);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}